<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/landing.css}">
</head>
<body>
<div class="container" style="padding-top: 50px; text-align: center;">
    <h1 class="hero-title">Добро пожаловать!</h1>
    <p class="hero-subtitle">Вы успешно аутентифицированы и находитесь на защищенной странице.</p>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-primary">Выйти</button>
    </form>
</div>
</body>
</html>
